@charset "utf-8";
@use "sass:math";
@use "import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.teams-detail {
	width: 100%;
	.teams-title {
		@include f.contents-title;
	}

	.team-section {
		background-color: #FFF;
		border: 1px solid var(--gray-200);
		&.site-managed {
			padding-right: 1.125rem;
			padding-left: 1.125rem;
		}
	}

	.section-header {
		.section-title {
			line-height: f.f-line-height(22, 33);
			color: var(--primary-800);
			font-size: f.f-rem(22);
		}
		.section-buttons {
			.btn {
				& + .btn {
					margin-left: 0.75rem;
				}
			}
		}
	}

	.no-items {
		.no-items-image {
		}
		.no-items-text {
			line-height: f.f-line-height(16, 22);
			color: var(--primary-600);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
	}

	.member-list {
		.member-list-header {
			line-height: f.f-line-height(12, 15);
			color: var(--gray-700);
			font-size: f.f-rem(12);
			.member-icon {
				width: 1.25rem;
			}
			.member-name {
				width: 25.83643123%;
			}
			.member-status {
				width: 15.79925651%;
			}
			.member-role {
				width: 31.59851301%;
			}
		}
		.member-list-body {
			.member-list-body-item {
				padding-top: 0.4375rem;
				padding-bottom: 0.4375rem;
				border: 2px solid var(--gray-100);
				&:hover {
					border: 2px solid  var(--primary-default);
				}
			}

			.member-icon {
				width: 1.25rem;
				height: 1.25rem;
				overflow: hidden;
				span {
					width: 1.25rem;
					height: 1.25rem;
					color: var(--primary-700);
					background-color: var(--primary-200);
					font-size: f.f-rem(12);
				}
			}
			.member-name {
				width: 25.83643123%;
				line-height: f.f-line-height(14, 19.5);
				color: var(--gray-800);
				font-size: f.f-rem(14);
				word-break: break-all;
				.member-email {
					color:var(--gray-500)!important;
					font-size: 12px;
					font-weight: 400;
				}
			}
			.member-status {
				width: 15.79925651%;
			}
			.member-role {
				width: 31.59851301%;
				line-height: f.f-line-height(12, 15);
				color: var(--gray-700);
				font-size: f.f-rem(12);
				letter-spacing: 0.3px;
			}

			.member-misc {
				.edit-detail {
				}
				.delete {
					button {
						-webkit-appearance: none;
						background-color: transparent;
						border: 0;
						padding: 0;
					}
					a,
					button {
						color: var(--primary-default);
						font-size: f.f-rem(11);
						i {
							svg {
								fill: currentColor;
								width: f.f-rem(11);
								height: f.f-rem(11);
							}
						}
					}
				}
			}
		}
	}

	.site-list {
		.site-item {
			box-shadow: 0px 1px 8px rgba(69, 29, 57, 0.1);
			overflow: hidden;
			border: 2px solid var(--gray-100);
			&:hover {
				border: 2px solid  var(--primary-default);
			}
		}
		.site-thumbnail {
		}
		.site-data {
			.site-name {
				line-height: f.f-line-height(22, 33);
				color: var(--primary-800);
				font-size: f.f-rem(22);
			}
			.site-url {
				margin-top: 0.625rem;
				line-height: f.f-line-height(14, 19.5);
				color: var(--primary-default);
				font-size: f.f-rem(14);
			}
		}
		.site-misc {
			.manage-site {
				.btn {
					&.btn-edit-detail {
						line-height: f.f-line-height(14, 18);
						color: var(--primary-default);
						font-size: f.f-rem(14);
					}
				}
			}
			.delete {
				button {
					-webkit-appearance: none;
					background-color: transparent;
					border: 0;
					padding: 0;
				}
				a,
				button {
					color: var(--primary-default);
					font-size: f.f-rem(14);
					i {
						svg {
							fill: currentColor;
							width: f.f-rem(14);
							height: f.f-rem(14);
						}
					}
				}
			}
		}
	}
}
