@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.dev {
	.container-info-nav {
		border-bottom: 1px solid var(--gray-200);
		.action-buttons {
		}
		.wordpress-status {
			i {
				svg {
					fill: var(--primary-default);
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
			.site-status {
				&::before {
					content: "";
					margin-right: 0.75rem;
					width: 2px;
					height: 2rem;
					background-color: var(--gray-200);
				}
			}
		}
	}

	.container-info-list {
		li {
			min-width: 32.5203252%;
			i {
				svg {
					fill: currentColor;
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
		}
	}

	.mediacdn-setting-section {
		.mediacdn-description {
			line-height: f.f-line-height(16, 22);
			color: var(--gray-800);
			font-size: f.f-rem(16);
			a {
				line-height: f.f-line-height(14, 19.5);
				color: var(--primary-default);
				font-size: f.f-rem(14);
				i {
					svg {
						fill: currentColor;
						width: f.f-rem(11);
						height: f.f-rem(11);
					}
				}
			}
		}
		.mediacdn-setting {
			border: 1px solid var(--gray-200);
		}
		.mediacdn-setting-status {
			@include f.setting-title;
		}
	}

	.webhooks-section {
		.webhooks-section-header {
			.webhooks-section-description {
				line-height: f.f-line-height(16, 22);
				@include f.page-text;
			}
			.webhooks-section-note {
				@include f.page-text;
				a {
					line-height: f.f-line-height(14, 19.5);
					color: var(--primary-default);
					font-size: f.f-rem(14);
					i {
						svg {
							fill: currentColor;
							width: f.f-rem(11);
							height: f.f-rem(11);
						}
					}
				}
			}
			.webhooks-section-button {
			}
		}

		.no-webhook {
			border: 1px solid var(--gray-100);
			.no-webhook-icon {
			}
			.no-webhook-state {
				line-height: f.f-line-height(16, 22);
				color: var(--primary-default);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
			}
			.no-webhook-description {
				line-height: f.f-line-height(14, 19.5);
				color: var(--gray-700);
				font-size: f.f-rem(14);
			}
		}

		.webhook-items {
			.webhook-item {
				border: 1px solid var(--gray-100);
				line-height: f.f-line-height(14, 19.5);
				color: var(--gray-600);
				font-size: f.f-rem(14);
			}
		}
		.webhook-item-data {
			.webhook-item-name {
				line-height: f.f-line-height(16, 22);
				color: var(--primary-default);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
			}
			.webhook-item-description {
			}
			.webhook-item-url {
			}
		}
		.webhook-item-misc {
			.webhook-item-status {
			}
			.webhook-item-menu {
				.dropdown-toggle {
					&::after {
						display: none;
					}
					i {
						svg {
							fill: var(--primary-default);
							width: f.f-rem(21);
							height: f.f-rem(21);
						}
					}
				}
				.dropdown-menu {
					box-shadow: 0 0 10px rgba(69, 29, 57, 0.2);
				}
				.dropdown-menu {
					border-color: var(--gray-100);
				}
				.dropdown-item {
					line-height: f.f-line-height(16, 22);
					min-width: 224px;
					color: #484043;
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
					i {
						svg {
							fill: #bdb6b8;
							width: f.f-rem(11);
							height: f.f-rem(11);
						}
					}
					&.delete {
						color: #ce1616;
						i {
							svg {
								fill: #ce1616;
							}
						}
					}
				}
			}
		}
	}

	.access-log-section {
		.access-log-section-header {
			.access-log-description {
				line-height: f.f-line-height(16, 22);
				color: var(--gray-700);
				font-size: f.f-rem(16);
			}
			.access-log-note {
				a {
					line-height: f.f-line-height(14, 19.5);
					color: var(--primary-default);
					font-size: f.f-rem(14);
					i {
						svg {
							fill: currentColor;
							width: f.f-rem(11);
							height: f.f-rem(11);
						}
					}
				}
			}
		}

		.form-group {
			label {
				color: var(--gray-800);
			}
			.form-control {
				color: var(--gray-700);
			}
		}
	}

	.emergency-section {
		.emergency-section-header {
			.emergency-section-title {
				line-height: f.f-line-height(30, 37.5);
				color: var(--primary-600);
				font-size: f.f-rem(30);
				letter-spacing: 1px;
			}
			.emergency-section-description {
				line-height: f.f-line-height(16, 22);
				@include f.page-text;
				letter-spacing: 0.35px;
			}
			.emergency-section-note {
				a {
					line-height: f.f-line-height(14, 19.5);
					color: var(--primary-600);
					font-size: f.f-rem(14);
					i {
						svg {
							fill: currentColor;
							width: f.f-rem(11);
							height: f.f-rem(11);
						}
					}
				}
			}
		}

		.emergencyuser {
		}

		.safemode {
			.c-toggle-switch {
				.custom-control-label {
					line-height: f.f-line-height(14, 19.5);
					color: var(--gray-700);
					font-size: f.f-rem(14);
				}
			}
		}
	}

	.basic-auth-section {
		.basic-auth-section-header {
			.basic-auth-section-description {
				line-height: f.f-line-height(16, 22);
				@include f.page-text;
				letter-spacing: 0.35px;
			}
			.basic-auth-section-note {
				a {
					line-height: f.f-line-height(14, 19.5);
					color: var(--primary-600);
					font-size: f.f-rem(14);
					i {
						svg {
							fill: currentColor;
							width: f.f-rem(11);
							height: f.f-rem(11);
						}
					}
				}
			}
		}

		.basic-auth-setting {
			.basic-auth-setting-item {
				border: 1px solid var(--gray-100);
				line-height: f.f-line-height(16, 22);
				color: var(--gray-700);
				font-size: f.f-rem(16);
			}
		}

		.basic-auth-info {
			border: 1px solid var(--gray-100);
			overflow: hidden;
			.basic-auth-info-title {
				line-height: f.f-line-height(22, 33);
				color: var(--gray-700);
				font-size: f.f-rem(22);
				i {
					svg {
						fill: var(--primary-default);
						width: f.f-rem(12);
						height: f.f-rem(12);
					}
				}
			}
			.form-group {
				max-width: 445px;
				.form-group-inner {
				}
				.form-control {
					padding-right: 2rem;
					padding-left: 2.4375rem;
					background-color: #FFF;
					color: var(--primary-default);
					z-index: 2;
					&:read-only {
						color: var(--primary-default);
						background-color: #f9f4f9;
						& ~ .copy {
							i {
								svg {
									fill: var(--gray-300);
									width: f.f-rem(12);
									height: f.f-rem(12);
								}
							}
						}
					}
				}
				.icon {
					top: 50%;
					left: 1rem;
					z-index: 1;
					transform: translateY(-50%);
					width: 1.4375rem;
					i {
						svg {
							fill: var(--gray-300);
							width: f.f-rem(14);
							height: f.f-rem(14);
						}
					}
				}
				.copy {
					top: 50%;
					right: 1rem;
					z-index: 3;
					transform: translateY(-50%);
					cursor: pointer;
					i {
						line-height: f.f-line-height(14, 19.5);
						color: var(--primary-default);
						font-size: f.f-rem(14);
					}
				}
			}
		}

		.auth-events {
			border: 1px solid var(--gray-100);
			.auth-events-title {
				line-height: f.f-line-height(22, 33);
				color: var(--gray-700);
				font-size: f.f-rem(22);
			}

			.auth-events-table {
				overflow-x: auto;
				table {
					border-collapse: separate;
					border-spacing: 0 0.5rem;
				}
				th,
				td {
					line-height: f.f-line-height(12, 15);
					color: var(--gray-700);
					font-size: f.f-rem(12);
					white-space: nowrap;
				}
				thead {
					th {
					}
				}
				tbody {
					td {
						border-top: 1px solid var(--gray-100);
						border-bottom: 1px solid var(--gray-100);
						&:first-child {
							border-left: 1px solid var(--gray-100);
						}
						&:last-child {
							border-right: 1px solid var(--gray-100);
						}
						&.with-icon {
							padding-top: 0.375rem;
							padding-bottom: 0.375rem;
							line-height: f.f-line-height(12, 22);
							i {
								svg {
									width: f.f-rem(11);
									height: f.f-rem(11);
								}
								&.check {
									svg {
										fill: #23ba7b;
									}
								}
								&.times {
									svg {
										fill: #ce1616;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.errors-section {
		.errors-section-header {
			padding-top: 0.625rem;
			.errors-section-title {
				line-height: f.f-line-height(30, 37.5);
				color: var(--primary-600);
				font-size: f.f-rem(30);
				letter-spacing: 1px;
			}
			.btn {
				margin-top: 0.625rem;
				margin-bottom: 0.375rem;
			}
		}
		.error-code {
			.pre-scrollable {
				padding: 2rem;
				height: 560px;
				color: #fff;
				background-color: #231f21;
				line-height: f.f-line-height(16, 22);
				font-size: f.f-rem(16);
				white-space: pre-wrap;
				.color-red {
					color: #ce1616;
					i {
						svg {
							fill: currentColor;
							width: f.f-rem(14);
							height: f.f-rem(14);
						}
					}
				}
			}
		}
	}
}
