@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.sites-list {
	.sites-list-header {
		margin-bottom: 2.5rem;
		.sites-list-title {

		}
	}
	.site-list-item {
		box-shadow: 0 1px 8px rgba(69, 29, 57, 0.1);
		position: relative;
		border: 2px solid var(--gray-100);
		&:hover {
			border: 2px solid  var(--primary-default);
		}
	}
	.site-thumbnail {
		overflow: hidden;
		position: relative;
		z-index: 1;
		@media (max-width: 768px) {
		  img {
			  width: 100%;
			  height: auto;
		  }
		}
	}
	.site-data {
		overflow: hidden;
		@media (max-width: 768px) {
			padding-left: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.site-name {
		line-height: f.f-line-height(22, 33);
		color: var(--gray-800);
		font-size: f.f-rem(22); 
		
		@media (max-width: 768px) {
			text-align: center;
		}
		a {
			color: var(--gray-800);
		}
	}
	.site-info {
		margin-top: 1rem;
		font-size: f.f-rem(14);
		@media (max-width: 768px) {
			justify-content: center!important;
		}
		.site-url {
			margin-right: 1.5rem;
			a {
				color: var(--primary-default);
			}
		}
		.site-initial {
			width: f.f-rem(22);
			height: f.f-rem(22);
			line-height: f.f-rem(22);
			background-color: var(--primary-200);
			font-size: f.f-rem(12);
		}
		.site-description {
			line-height: f.f-line-height(14, 19.5);
		}
	}
	.site-setting {
		@media (max-width: 768px) {
			padding-bottom: 1.5rem;
			display: flex!important;
			justify-content: center!important;
		}
	}
	.site-status {
	}
	.site-panel {
		a {
			i {
				svg {
					fill: var(--primary-default);
					width: f.f-rem(20);
					height: f.f-rem(20);
				}
			}
		}
	}
	.site-manage {
		a {
			line-height: f.f-line-height(14, 19.5);
			font-size: f.f-rem(14);
		}
	}
	.site-control {
		.dropdown-toggle {
			&::after {
				display: none;
			}
			i {
				svg {
					fill: var(--primary-default);
					width: f.f-rem(21);
					height: f.f-rem(21);
				}
			}
		}
		.dropdown-menu {
			box-shadow: 0 0 10px rgba(69, 29, 57, 0.2);
		}
		.dropdown-item {
			line-height: f.f-line-height(16, 22);
			min-width: 224px;
			color: #484043;
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
			i {
				svg {
					fill: #bdb6b8;
					width: f.f-rem(11);
					height: f.f-rem(11);
				}
			}
		}
	}
}
