@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.live-subdirectory {
	.subdirectory-container {
		background-color: #FFF;
		border: 1px solid var(--gray-200);
	}

	.subdirectory-heading {
		line-height: f.f-line-height(22, 33);
		color: var(--primary-800);
		font-size: f.f-rem(22);
	}

	.subdirectory-description {
		p {
			line-height: f.f-line-height(14, 19.5);
			color: var(--gray-700);
			font-size: f.f-rem(14);
		}
	}

	.deploy-setting {
		background-color: #FFF;
		border: 1px solid var(--gray-200);
		.deploy-setting-status {
			line-height: f.f-line-height(16, 22);
			color: var(--gray-700);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
	}

	.subdirectory-path {
		border-top: 1px solid var(--gray-100);
		.subdirectory-path-title {
			line-height: f.f-line-height(16, 22);
			color: var(--primary-800);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
		.subdirectory-path-setting {
		}
	}
}
