@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.team-headding {
	line-height: f.f-line-height(30, 37.5);
	color: var(--gray-800);
	font-size: f.f-rem(30);
	letter-spacing: 1px;
}

.team-content {
	margin-top: 3rem;
	border: 2px solid var(--gray-100);
	.team-content-header {
	}
	.team-content-heading {
		line-height: f.f-line-height(22, 33);
		color: var(--gray-800);
		font-size: f.f-rem(22);
	}
	.team-content-misc {
		.btn {
			margin-left: 0.75rem;
		}
	}
}
.member-table {
	border-collapse: separate;
	border-spacing: 0 0.5rem;
	thead {
		th {
			line-height: f.f-line-height(12, 15);
			color: var(--primary-700);
			font-size: f.f-rem(12);
			&.member-table-name {
				padding-left: 3.75rem;
			}
			&.member-table-status {
			}
			&.member-table-role {
			}
			&.member-table-action {
			}
		}
	}
	tbody {
		tr {
			& > *:first-child {
				border-left: 1px solid var(--gray-100);
			}
			& > *:last-child {
				border-right: 1px solid var(--gray-100);
			}
		}
		th,
		td {
			border-top: 1px solid var(--gray-100);
			border-bottom: 1px solid var(--gray-100);
		}
		.member-name {
			line-height: f.f-line-height(14, 19.5);
			color: var(--gray-800);
			font-size: f.f-rem(14);
			.usericon {
				width: 1.25rem;
				height: 1.25rem;
				overflow: hidden;
				&.not-set {
					width: 1.25rem;
					height: 1.25rem;
					line-height: 1.25rem;
					color: var(--primary-700);
					background-color: var(--primary-200);
					font-size: f.f-rem(12);
					letter-spacing: 0.3px;
				}
			}
		}
		.member-status {
		}
		.member-role {
			line-height: f.f-line-height(14, 19.5);
			color: var(--gray-700);
			font-size: f.f-rem(14);
		}
		.member-action {
			i {
				svg {
					fill: var(--primary-default);
					width: f.f-rem(11);
					height: f.f-rem(11);
				}
			}
		}
	}
}
