@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.site-staging {
	.staging-header-nav {
		padding-top: 0.375rem;
		padding-bottom: 0.375rem;
		.action-buttons {
		}
		.wordpress-status {
			i {
				svg {
					fill: var(--primary-default);
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
		}
		.site-status {
			&::before {
				content: "";
				margin-right: 0.75rem;
				width: 2px;
				height: 2rem;
				background-color: var(--gray-200);
			}
		}
	}

	.deploy-list-header {
		.deploy-list-heading {
			line-height: f.f-line-height(18, 27);
			color: var(--gray-700);
			font-size: f.f-rem(18);
		}

		.publish-setting {
			.publish-setting-status {
				margin-right: 0.75rem;
				line-height: f.f-line-height(14, 19.5);
				color: var(--gray-700);
				font-size: f.f-rem(14);
			}
		}

		.delete-buttons {
			.delete-buttons-selected {
				margin-right: 0.75rem;
				line-height: f.f-line-height(14, 19.5);
				color: var(--gray-700);
				font-size: f.f-rem(14);
			}
		}
	}

	.deploy-list-body {
		.deploy-list-item {
			background-color: #FFF;
			border: 1px solid var(--gray-200);
			&:hover,
			&.checked-item {
				background-color: #f9f4f9;
			}
			.list-item-check {
				margin-right: 2.375rem;
				padding-left: 0;
				label {
					border: 1px solid var(--gray-100);
					width: 2.125rem;
					height: 2.125rem;
					&::before,
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}

			.list-item-thumbnail {
			}
			.list-item-data {
				.list-item-name {
					word-break: break-all;
					line-height: f.f-line-height(16, 22);
					color: #484043;
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
					&.colored {
						color: var(--primary-default);
					}
				}
				.btn-edit {
					height: auto;
					i {
						svg {
							fill: var(--gray-300);
							width: f.f-rem(11);
							height: f.f-rem(11);
						}
					}
				}
				.list-item-date {
					line-height: f.f-line-height(12, 15);
					color: var(--gray-600);
					font-size: f.f-rem(12);
					letter-spacing: 0.25px;
				}
			}

			.list-item-misc {
				.list-item-status {
					min-width: 118px;
				}
				.list-item-menu {
					.dropdown-toggle {
						&::after {
							display: none;
						}
						i {
							svg {
								fill: var(--primary-default);
								width: f.f-rem(21);
								height: f.f-rem(21);
							}
						}
						&:hover{
							i {
								svg {
									fill: #FFF;
								}
							}
						}
					}

					.dropdown-item {
						padding: 0.25rem 1rem;
						min-width: 224px;
						line-height: f.f-line-height(16, 22);
						color: #484043;
						font-size: f.f-rem(16);
						i {
							margin-left: 0.75rem;
							svg {
								fill: #bdb6b8;
								width: f.f-rem(11);
								height: f.f-rem(11);
							}
						}
						&.delete {
							color: #ce1616;
							i {
								svg {
									fill: #ce1616;
								}
							}
						}
					}
				}
			}
		}
	}

	.no-artifact {
		.no-artifact-icon {
		}
		.no-artifact-state {
			line-height: f.f-line-height(16, 22);
			color: var(--primary-default);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
		.no-artifact-description {
			line-height: f.f-line-height(14, 19.5);
			color: var(--primary-700);
			font-size: f.f-rem(14);
			a {
				color: var(--primary-700);
			}
		}
	}
}
