@use "sass:math";
@use "../import/mixin" as f;

.team-headding {
	line-height: f.f-line-height(30, 37.5);
	color: #2b2628;
	font-size: f.f-rem(30);
	letter-spacing: 1px;
}

.team-content {
	margin-top: 3rem;
	border: 2px solid #edecec;
	.team-content-header {
	}
	.team-content-heading {
		line-height: f.f-line-height(22, 33);
		color: #2b2628;
		font-size: f.f-rem(22);
	}
	.team-content-misc {
		.btn {
			margin-left: 0.75rem;
		}
	}
}
.member-table {
	border-collapse: separate;
	border-spacing: 0 0.5rem;
	thead {
		th {
			line-height: f.f-line-height(12, 15);
			color: #671e64;
			font-size: f.f-rem(12);
			&.member-table-name {
				padding-left: 3.75rem;
			}
			&.member-table-status {
			}
			&.member-table-role {
			}
			&.member-table-action {

			}
		}
	}
	tbody {
		tr {
			& > *:first-child {
				border-left: 1px solid #edecec;
			}
			& > *:last-child {
				border-right: 1px solid #edecec;
			}
		}
		th, td {
			border-top: 1px solid #edecec;
			border-bottom: 1px solid #edecec;
		}
		.member-name {
			line-height: f.f-line-height(14, 19.5);
			color: #2b2628;
			font-size: f.f-rem(14);
			.usericon {
				width: 1.25rem;
				height: 1.25rem;
				overflow: hidden;
				&.not-set {
					width: 1.25rem;
					height: 1.25rem;
					line-height: 1.25rem;
					color: #671e64;
					background-color: #e2c9e1;
					font-size: f.f-rem(12);
					letter-spacing: 0.3px;
				}
			}
		}
		.member-status {
		}
		.member-role {
			line-height: f.f-line-height(14, 19.5);
			color: #363032;
			font-size: f.f-rem(14);
		}
		.member-action {
			i {
				svg {
					fill: #892885;
					width: f.f-rem(11);
					height: f.f-rem(11);
				}
			}
		}
	}

}
