@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.live-analytics {
	.analytics-heading {
		margin-bottom: 3.875rem;
		line-height: f.f-line-height(30, 37.5);
		color: var(--primary-700);
		font-size: f.f-rem(30);
		letter-spacing: 1px;
	}

	.analytic-datas {
		border: 1px solid var(--gray-200);
		.analytic-datas-title {
			line-height: f.f-line-height(22, 33);
			color: var(--primary-600);
			font-size: f.f-rem(22);
		}
		.analytic-item {
			box-shadow: 0 1px 8px rgba(69, 29, 57, 0.1);
		}
		.analytic-item-title {
			line-height: f.f-line-height(16, 22);
			color: var(--primary-700);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
		.analytic-data {
		}
	}
}
