@use "sass:math";
@use "import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.shifter-dashboard-columns {
	border-top: 1px solid var(--gray-100);
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column-reverse !important;
		.shifter-dashboard-sidebar {
			max-width: 100%!important;
			text-align: center;
			padding-left: 1.5rem!important;
		}
		.sidebar-sitename {
			margin-top: 1rem!important;
		}
		.return2sites {
			text-align: left;
		}
		.sidebar-nav {
			&> ul {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				overflow: scroll;
				position: relative;
				padding-bottom: 80px!important;
			}
			li {
				word-break: keep-all;
			}
			.sub-menu {
				position: absolute;
				display: flex;
				width: 100%;
				left: 0;
				bottom: 0;
				padding: 10px!important;
				height: 80px;
				li {
					margin-top: 0!important;
					padding: 5px;
				}
			}
		}
	}
	&.no-border {
		border-top: 0;
	}
	.shifter-dashboard-main {
		border-left: 1px solid var(--gray-100);
		@media (min-width: 768px) {
			max-width: calc(100% - 250px);
		}
	}
	.shifter-dashboard-sidebar {
		padding-left: 1.5rem;
		width: 100%;
		max-width: 250px;
		flex-shrink: 0;
		*:first-child {
			&.sidebar-nav {
				&::before {
					display: none;
				}
			}
		}
	}
	.return2sites {
		a {
			line-height: f.f-line-height(16, 22);
			color: var(--primary-default);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
			i {
				svg {
					fill: currentColor;
					width: f.f-rem(16);
					height: f.f-rem(16);
				}
			}
		}
	}
	.sidebar-sitename {
		padding-right: 2rem;
		line-height: f.f-line-height(22, 33);
		font-size: f.f-rem(22);
	}
	.sidebar-nav {
		position: relative;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: -60px;
			z-index: 1;
			height: 1px;
			background-color: var(--gray-100);
		}
		ul {
			margin: 0;
			padding: 12px 0 0;
			list-style: none;
		}
		& > ul {
			& > li {
				margin-top: 12px;
				& > a {
					line-height: f.f-line-height(16, 22);
					color: var(--primary-800);
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
					text-decoration: none;
					transition: background-color .05s ease-in-out 0.05s;
					i {
						svg {
							fill: var(--primary-default);
							width: f.f-rem(16);
							height: f.f-rem(16);
						}
					}
					&.deactive {
						pointer-events: none;
						i {
							svg {
								fill: var(--primary-300);
							}
						}
					}
					&:hover {
						background-color: #f3eaf3;
					}
					&.active {
						font-weight: 800;
						background-color: #f3eaf3;
					}
				}
			}
		}
		.sub-menu {
			padding: 16px 32px;
			& > li {
				& + li {
					margin-top: 0.75rem;
				}
				& > a {
					line-height: f.f-line-height(16, 22);
					color: #7f7679;
					font-size: f.f-rem(16);
					transition: color .05s ease-in-out 0.05s;
					&.deactive {
					}
					&:hover {
						color: var(--primary-default);
					}
					&.active {
						font-weight: 800;
						color: var(--primary-default);
					}
				}
			}
		}
	}
}
