@use "sass:math";
@use "import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

body {
	font-family: "sofia-pro", sans-serif;
	overflow-x: hidden;
}

.navbar {
	padding: 1.125rem 1.5rem;
	@media (max-width: 768px) {
		& > .navbar-brand {
			max-width: 10%!important;
		}
		& > .form-search {
			max-width: 60%!important;
			.input-group {
				margin-right: 0.1%!important;
			}
		}
		& > .navbar-toggler {
			max-width: 20%!important;
		}
	}
	& > .navbar-brand {
		margin-right: 70px;
		@media (max-width: 768px) {
			margin-right: 20px;
		}
	}

	.navbar-toggler {
		.navbar-toggler-icon {
		}
	}

	.navbar-nav {
		.nav-item {
			&.active {
				.nav-link {
					background-color: #f3eaf3;
				}
			}
			&.dropdown {
			}
			.nav-link {
				padding: 0.625rem 1rem;
				line-height: f.f-line-height(16, 22);
				color: var(--primary-800);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
				&.dropdown-toggle {
					margin-right: 1.25rem;
					margin-left: 1.5rem;
					overflow: hidden;
					&::after {
						display: none;
					}
					img {
						display: block;
					}
				}
			}
		}
	}
	.dropdown {
		.dropdown-menu {
			box-shadow: 0 0 10px rgba(69, 29, 57, 0.2);
		}
		.dropdown-item {
			line-height: f.f-line-height(16, 22);
			color: #484043;
			font-size: f.f-rem(16);
			i {
				svg {
					width: f.f-rem(11);
					height: f.f-rem(11);
					fill: #bdb6b8;
				}
			}
		}
	}
}

.form-search {
	&.form-inline {
		z-index: 2;
		.form-control {
			padding: 12px 20px 10px 34px;
			border: 0;
			border-bottom: 2px solid transparent;
			background-color: transparent;
			z-index: 2;
			border-radius: 0;
			&:focus {
				box-shadow: none;
				border-bottom-color: var(--primary-default);
				outline: 0;
			}
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}
		}
		.form-search-icon {
			top: 50%;
			left: 0;
			z-index: 1;
			transform: translateY(-50%);
			svg {
				width: f.f-rem(15);
				height: f.f-rem(15);
				fill: var(--primary-default);
			}
		}
	}

	.suggest-list {
		box-shadow: 0px 6px 18px rgba(69, 29, 57, 0.29), 0px 19px 29px rgba(69, 29, 57, 0.35);
		top: 100%;
		left: 0;
		@media (min-width: 768px) {
			width: 446px;
		}
		.suggest-list-item {
			a {
				text-decoration: none;
				&:hover,
				&:active {
					background-color: #f3eaf3;
					.icon {
						background-color: var(--primary-200);
					}
					.suggest-list-external-icon {
						svg {
							fill: var(--primary-default);
						}
					}
				}
			}
			.title {
				color: #484043;
				line-height: f.f-line-height(16, 18);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
				.colored {
					color: var(--primary-default);
				}
				.divider {
					svg {
						width: f.f-rem(14);
						height: f.f-rem(14);
						fill: var(--primary-default);
					}
				}
			}
			.icon {
				background-color: #f3eaf3;
				width: f.f-rem(18);
				height: f.f-rem(18);
				svg {
					width: f.f-rem(9);
					height: f.f-rem(9);
					fill: var(--primary-default);
					&.larger {
						width: f.f-rem(11);
						height: f.f-rem(11);
					}
				}
			}
			.suggest-list-external-icon {
				top: 3px;
				right: 0;
				svg {
					width: f.f-rem(11);
					height: f.f-rem(11);
					fill: var(--gray-300);
				}
			}
			.category {
				line-height: f.f-line-height(12, 15);
				color: #484043;
				font-weight: 800;
				font-size: f.f-rem(12);
				letter-spacing: 0.3px;
			}
		}
	}
}

.common-footer {
	border-top: 1px solid var(--gray-100);
	padding-top: 44px;
	padding-bottom: 44px;
	color: var(--gray-400);
	font-size: f.f-rem(14);
	@media (max-width: 767.98px) {
		margin: 0 12px;
		padding: 24px 0;
		border-top: solid 1px var(--gray-200);
		flex-direction: column;
	}
	> ul,p,div {
		margin-top: 0;
		margin-bottom: 0;
	}
	> ul {
		padding-left: 0;
		@media (max-width: 767.98px) {
			order: 1;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	li {
		list-style-type: none;
		@media (max-width: 767.98px) {
			margin-bottom: 15px;
			text-align: center;
			margin-right: 0!important;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			color: var(--gray-800);;
		}
	}
	.btn-group{
		button.dropdown-toggle{
			color: var(--gray-800);
			&:hover{
				color: var(--gray-100);
			}
			&:focus{
				color: var(--gray-100);
			}
			&::after{
				color: var(--primary);
			}
		}
		@media (max-width: 767.98px) {
			margin: 24px 0;
			order: 2;
		}
	}
}

.common-footer-copyright {
	font-size: f.f-rem(14);
	@media (max-width: 767.98px) {
		order: 3;
	}
	small {
		font-size: 100%;
	}
	a {
		margin-left: 5px;
	}
}

.btn-outline,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
	border-width: 2px;
	
}

.text-primary {
	color: var(--primary-500)!important;
}