@use "sass:math";
@use "import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.form-control {
	border-color: var(--gray-300);
	height: 3rem;
	line-height: f.f-line-height(16, 22);
	color: var(--primary-900);
	font-size: f.f-rem(16);
	&:focus {
		box-shadow: none;
		outline: 0;
	}
	&.smaller {
		line-height: f.f-line-height(14, 19.5);
		font-size: f.f-rem(14);
	}
	&.small {
		height: 2.25rem;
	}
}

.form-control.is-valid,
.was-validated .form-control:valid {
	border-color: var(--gray-300);
	background-image: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
	border: 2px solid var.$red-primary;
	background-image: none;
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
	color: var(--gray-600);
}
.invalid-feedback {
	line-height: f.f-line-height(14, 19.5);
	color: var.$red-primary;
	font-size: f.f-rem(14);
}

.form-group {
	&.readonly {
		max-width: 440px;
		&.no-icon {
			.form-control {
				padding-left: 0.75rem;
			}
		}
		.form-group-inner {
		}
		.form-control {
			padding-left: 2.4375rem;
			background-color: #FFF;
			color: var(--primary-default);
			z-index: 2;
			&:read-only {
				color: var(--primary-default);
				background-color: #f9f4f9;
				& ~ .copy {
					i {
						svg {
							fill: var(--gray-300);
							width: f.f-rem(12);
							height: f.f-rem(12);
						}
					}
				}
			}
		}
		.icon {
			top: 50%;
			left: 1rem;
			z-index: 1;
			transform: translateY(-50%);
			width: 1.4375rem;
			i {
				svg {
					fill: var(--gray-300);
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
		}
		.copy {
			height: 100%;
			height: calc(100% - 2px);
			background-color: #f9f4f9;
			padding: 0 1rem;
			display: flex;
			align-items: center;
			top: 1px;
			right: 1px;
			z-index: 3;
			cursor: pointer;
			i {
				svg {
					fill: var(--primary-default);
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
		}

		.form-text {
			&.text-muted {
				line-height: f.f-line-height(12, 15);
				color: var(--gray-400);
				font-size: f.f-rem(12);
				letter-spacing: 0.25px;
			}
		}
	}
	label {
		line-height: f.f-line-height(16, 22);
		color: var(--primary-900);
		font-size: f.f-rem(16);
		letter-spacing: 0.35px;
	}

	.input-group {
		input{
			background-color: #FFF;
		}
		.form-control {
			background-color: #FFF;
			position: relative;
			z-index: 1;
		}
		.input-group-append,
		.input-group-eye {
			position: absolute;
			top: 1em;
			margin-top: 2px;
		}
		i {
			svg {
				fill: var(--gray-300);
				width: f.f-rem(14);
				height: f.f-rem(14);
			}
		}
		&:not(.reverse-icon) {
			.form-control {
				padding-right: 2.5rem;
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
			.input-group-append {
				position: absolute;
				top: 1em;
				right: 1rem;
				z-index: 2;
				margin-top: 2px;
			}
		}
		&.reverse-icon {
			position: relative;
			z-index: 1;
			.form-control {
				padding-left: 2.5rem;
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
				position: relative;
				z-index: 2;
			}
			.input-group-append {
				left: 1rem;
				z-index: 1;
			}
		}
		.input-group-eye {
			right: 1rem;
			left: auto;
			z-index: 2;
			display: flex;
			&.password-lock {
				.lock {
					display: block;
				}
				.unlock {
					display: none;
				}
			}
			&:not(.password-lock) {
				.lock {
					display: none;
				}
				.unlock {
					display: block;
				}
			}
		}
	}
}

.verification-code {
	.col-2 {
		.form-control {
			width: 2.458125rem;
			height: 3.875rem;
			color: var(--gray-700);
			line-height: f.f-line-height(30, 37.5);
			font-size: f.f-rem(30);
			.was-validated & {
				&.is-valid,
				&:valid {
					border-color: var(--primary-default);
				}
				&.is-invalid,
				&:invalid {
					border-color: var.$red-primary;
				}
			}
		}
		&:nth-child(-n + 3) {
			.form-control {
				margin-right: 0.75rem;
			}
		}
		&:nth-child(n + 4) {
			.form-control {
				margin-left: 0.75rem;
			}
		}
	}
	.form-text {
		a {
			line-height: f.f-line-height(14, 19.5);
			color: var(--primary-default);
			font-size: f.f-rem(14);
			letter-spacing: 0.35px;
		}
	}
}

.list-sorter {
	.bootstrap-select {
		.dropdown-toggle {
			box-shadow: 0 1px 8px rgba(69, 29, 57, 0.1);
			padding: 0 1rem;
			border: 1px solid var(--primary-default);
			color: var(--primary-900);
			background-color: #fff;
			width: auto;
			&::after {
				display: none;
			}
			.filter-option {
				display: flex;
				align-items: center;
				&::after {
					content: "";
					margin-left: 0.625rem;
					width: 0.875rem;
					height: 0.875rem;
					background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23892885" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>');
					background-repeat: no-repeat;
					background-size: 0.875rem auto;
					background-position: center;
				}
				.filter-option-inner {
				}
				.filter-option-inner-inner {
					color: var(--primary-900);
					.option-item {
						&::before {
							content: "";
							margin-right: 0.625rem;
							display: inline-block;
							width: 1rem;
							height: 1rem;
							background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23b6b3b4" d="M304 416h-64a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm-128-64h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.37 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352zm256-192H240a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h192a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm-64 128H240a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zM496 32H240a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h256a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>');
							background-repeat: no-repeat;
							background-size: 1rem auto;
							background-position: center;
						}
					}
				}
			}
		}
		.dropdown-menu {
			padding: 0;
			box-shadow: 0px 8px 15px rgba(69, 29, 57, 0.2), 0px 8px 20px 4px rgba(69, 29, 57, 0.15);
			&.show {
				border: 2px solid var(--primary-default);
			}
			&.inner {
				padding: 0.5rem 0;
				border: 0;
				li {
					&.selected {
					}
					&.active {
					}

					.dropdown-item {
						padding: 0 1rem;
						display: flex;
						align-items: center;
						min-height: 3rem;
						&.active {
							background-color: #fff;
							&:hover,
							&:focus {
								background-color: #f8f9fa;
							}
						}
					}
					.bs-ok-default {
						&.check-mark {
							top: 50%;
							right: 1rem;
							transform: translateY(-50%);
							&::after {
								content: "";
								border: 0;
								width: 0.6875rem;
								height: 0.6875rem;
								transform: rotate(0deg);
								background-image: url('data:image/svg+xml;utf8,<svg fill="%23892885" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M173.898 440.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
								background-repeat: no-repeat;
								background-size: 0.6875rem auto;
							}
						}
					}
					.text {
						color: var(--primary-700);
					}
				}
			}
		}
	}
}

.colored-check {
	padding-left: 1.625rem;
	position: relative;
	z-index: 1;
	&.smaller {
		.form-check-label {
			line-height: f.f-line-height(14, 20);
			font-size: f.f-rem(14);
			&::before,
			&::after {
				top: 4px;
			}
		}
	}
	.form-check-input {
		&:checked {
			& + label {
				&::before {
					border-color: var(--primary-default);
					background-color: var(--primary-default);
				}
				&::after {
					color: #fff;
				}
			}
		}
	}
	.form-check-label {
		line-height: f.f-line-height(16, 22);
		font-size: f.f-rem(16);
		&::before,
		&::after {
			position: absolute;
			top: 6px;
		}
		&::before {
			content: "";
			left: 0;
			border: 2px solid #9e9699;
			width: 0.875rem;
			height: 0.875rem;
		}
		&::after {
			content: "";
			left: 0;
			margin: 0 2px;
			width: 0.625rem;
			height: 0.625rem;
			background-image: url('data:image/svg+xml;utf8,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M173.898 440.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
			background-size: 0.625rem auto;
			background-repeat: no-repeat;
		}
	}
}

.select-wrapper {
	z-index: 1;
	select {
		appearance: none;
		padding-right: 2rem;
		min-width: 264px;
		background-color: transparent;
		z-index: 2;
		&::-ms-expand {
			display: none;
		}
	}
	i {
		top: 50%;
		right: 16px;
		z-index: 1;
		transform: translateY(-50%);
		width: 1em;
		svg {
			fill: var(--primary-default);
			width: f.f-rem(14);
			height: f.f-rem(14);
		}
	}
}

.list-sorter.list-sorter-sort{
	position: relative;
	&::after{
		position: absolute;
		content: url("../assets/images/background/sort-amount-down.svg");
		width: 13px;
		height: 17px;
		top: 50%;
		margin-top: -11px;
		left: 0.8rem;
		z-index: 5;
	}
	.form-control {
		padding-left: 2rem;
		}
	.form-group{
		margin-bottom: 0!important;
	}
}
