@use "sass:math";
@use "import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.form-control {
	border-color: f.f-gray-color('300');
	height: 3rem;
	line-height: f.f-line-height(16, 22);
	color: f.f-primary-color('900');
	font-size: f.f-rem(16);
	&:focus {
		box-shadow: none;
		outline: 0;
	}
	&.smaller {
		line-height: f.f-line-height(14, 19.5);
		font-size: f.f-rem(14);
	}
	&.small {
		height: 2.25rem;
	}
}

.form-control.is-valid,
.was-validated .form-control:valid {
	border-color: f.f-gray-color('300');
	background-image: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
	border: 2px solid var.$red-primary;
	background-image: none;
}
.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
	color: f.f-gray-color('600');
}
.invalid-feedback {
	line-height: f.f-line-height(14, 19.5);
	color: var.$red-primary;
	font-size: f.f-rem(14);
}

.form-group {
	&.readonly {
		max-width: 440px;
		&.no-icon {
			.form-control {
				padding-left: .75rem;
			}
		}
		.form-group-inner {
		}
		.form-control {
			padding-left: 2.4375rem;
			background-color: transparent;
			color: f.f-primary-color('default');
			z-index: 2;
			&:read-only {
				color: f.f-primary-color('default');
				background-color: #f9f4f9;
				& ~ .copy {
					i {
						svg {
							fill: f.f-gray-color('300');
							width: f.f-rem(12);
							height: f.f-rem(12);
						}
					}
				}
			}
		}
		.icon {
			top:50%;
			left: 1rem;
			z-index: 1;
			transform: translateY(-50%);
			width: 1.4375rem;
			i {
				svg {
					fill: f.f-gray-color('300');
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
		}
		.copy {
			height: 100%;
			height: calc(100% - 2px);
			background-color: #f9f4f9;
			padding: 0 1rem;
			display: flex;
			align-items: center;
			top: 1px;
			right: 1px;
			z-index: 3;
			cursor: pointer;
			i {
				svg {
					fill: f.f-primary-color('default');
					width: f.f-rem(14);
					height: f.f-rem(14);
				}
			}
		}

		.form-text {
			&.text-muted {
				line-height: f.f-line-height(12, 15);
				color: f.f-gray-color('400');
				font-size: f.f-rem(12);
				letter-spacing: 0.25px;
			}
		}

	}
	label {
		line-height: f.f-line-height(16, 22);
		color: f.f-primary-color('900');
		font-size: f.f-rem(16);
		letter-spacing: 0.35px;
	}

	.input-group {
		.form-control {
			background-color: transparent;
			position: relative;
			z-index: 1;
		}
		.input-group-append,
		.input-group-eye {
			position: absolute;
			top: 1em;
			margin-top: 2px;
		}
		i {
			svg {
				fill: f.f-gray-color('300');
				width: f.f-rem(14);
				height: f.f-rem(14);
			}
		}
		&:not(.reverse-icon) {
			.form-control {
				padding-right: 2.5rem;
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
			.input-group-append {
				position: absolute;
				top: 1em;
				right: 1rem;
				z-index: 2;
				margin-top: 2px;
			}
		}
		&.reverse-icon {
			position: relative;
			z-index: 1;
			.form-control {
				padding-left: 2.5rem;
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
				position: relative;
				z-index: 2;
			}
			.input-group-append {
				left: 1rem;
				z-index: 1;
			}
		}
		.input-group-eye {
			right: 1rem;
			left: auto;
			z-index: 2;
			display: flex;
			&.password-lock {
				.lock {
					display: block;
				}
				.unlock {
					display: none;
				}
			}
			&:not(.password-lock) {
				.lock {
					display: none;
				}
				.unlock {
					display: block;
				}
			}
		}
	}
}


.verification-code {
	.col-2 {
		.form-control {
			width: 2.458125rem;
			height: 3.875rem;
			color: f.f-gray-color('700');
			line-height: f.f-line-height(30, 37.5);
			font-size: f.f-rem(30);
			.was-validated & {
				&.is-valid,
				&:valid {
					border-color: f.f-primary-color('default');
				}
				&.is-invalid,
				&:invalid {
					border-color: var.$red-primary;
				}
			}
		}
		&:nth-child(-n+3) {
			.form-control {
				margin-right: 0.75rem;
			}
		}
		&:nth-child(n+4) {
			.form-control {
				margin-left: 0.75rem;
			}
		}
	}
	.form-text {
		a {
			line-height: f.f-line-height(14, 19.5);
			color: f.f-primary-color('default');
			font-size: f.f-rem(14);
			letter-spacing: 0.35px;
		}
	}
}


.list-sorter {
	.bootstrap-select {
		.dropdown-toggle {
			box-shadow: 0 1px 8px rgba(69, 29, 57, 0.1);
			padding: 0 1rem;
			border: 1px solid f.f-primary-color('default');
			color: f.f-primary-color('900');
			background-color: #fff;
			width: auto;
			&::after {
				display: none;
			}
			.filter-option {
				display: flex;
				align-items: center;
				&::after {
					content: '\f107';
					margin-left: 0.625rem;
					color: f.f-primary-color('default');
					font-family: 'Font Awesome 5 Pro';
					font-weight: 900;
					font-size: f.f-rem(14);
				}
				.filter-option-inner {
				}
				.filter-option-inner-inner {
					color: f.f-primary-color('900');
					.option-item {
						&::before {
							content: '\f160';
							margin-right: 0.625rem;
							-moz-osx-font-smoothing:grayscale;
							-webkit-font-smoothing:antialiased;
							display: inline-block;
							color: f.f-gray-color('300');
							font-family: "Font Awesome 5 Pro";
							font-weight: 900;
							font-style: normal;
							font-variant: normal;
							text-rendering: auto;
							line-height: 1;
						}
					}
				}
			}
		}
		.dropdown-menu {
			padding: 0;
			box-shadow: 0px 8px 15px rgba(69, 29, 57, 0.2), 0px 8px 20px 4px rgba(69, 29, 57, 0.15);
			&.show {
				border: 2px solid f.f-primary-color('default');
			}
			&.inner {
				padding: 0.5rem 0;
				border: 0;
				li {
					&.selected {
					}
					&.active {
					}

					.dropdown-item {
						padding: 0 1rem;
						display: flex;
						align-items: center;
						min-height: 3rem;
						&.active {
							background-color: #fff;
							&:hover, &:focus {
								background-color: #f8f9fa;
							}
						}
					}
					.bs-ok-default {
						&.check-mark {
							top: 50%;
							right: 1rem;
							transform: translateY(-50%);
							&::after {
								content: '\f00c';
								border: 0;
								color: f.f-primary-color('default');
								width: auto;
								height: auto;
								font-family: 'Font Awesome 5 Pro';
								font-weight: 900;
								font-size: f.f-rem(11);
								transform: rotate(0deg);
							}
						}
					}
					.text {
						color: f.f-primary-color('700');;
					}
				}
			}
		}
	}
}


.colored-check {
	padding-left: 1.625rem;
	position: relative;
	z-index: 1;
	&.smaller {
		.form-check-label {
			line-height: f.f-line-height(14, 20);
			font-size: f.f-rem(14);
			&::before,
			&::after {
				top: 4px;
			}
		}
	}
	.form-check-input {
		&:checked {
			& + label {
				&::before {
					border-color: f.f-primary-color('default');
					background-color: f.f-primary-color('default');
				}
				&::after {
					color: #fff;
				}
			}
		}
	}
	.form-check-label {
		line-height: f.f-line-height(16, 22);
		font-size: f.f-rem(16);
		&::before, &::after {
			position: absolute;
			top: 6px;
			width: 0.875rem;
			height: 0.875rem;
		}
		&::before {
			content: '';
			left: 0;
			border: 2px solid #9e9699;
		}
		&::after {
			content: '\f00c';
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			color: transparent;
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			font-size: 0.625rem;
		}
	}
}


.select-wrapper {
	z-index: 1;
	select {
		appearance: none;
		padding-right: 2rem;
		min-width: 264px;
		background-color: transparent;
			z-index: 2;
		&::-ms-expand {
			display: none;
		}
	}
	i {
		top: 50%;
		right: 16px;
		z-index: 1;
		transform: translateY(-50%);
		width: 1em;
		svg {
			fill: f.f-primary-color('default');
			width: f.f-rem(14);
			height: f.f-rem(14);
		}
	}
}
