
@use "sass:math";
@use "../import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

	.steps {
        margin-bottom: 0.75rem;
        border: 1px solid f.f-gray-color('100');
        .steps-header {
            .steps-title {
                line-height: f.f-line-height(16, 22);
                color: f.f-primary-color('800');
                font-size: f.f-rem(16);
            }
            .close {
                color: f.f-primary-color('default');
                opacity: 1;
                i {
                    svg {
                        fill: currentColor;
                        width: f.f-rem(14);
                        height: f.f-rem(14);
                    }
                }
            }
        }
        & > .container {
            max-width: none;
            background-color: #f9f4f9;
            & > .row {
                & > * {
                    padding-top: 0.8125rem;
                    padding-bottom: 0.8125rem;
                    &.is-current {
                        .step-num {
                            color: f.f-primary-color('default');
                        }
                        .step-name {
                            color: f.f-primary-color('default');
                        }
                        .step-description {
                            color: f.f-gray-color('700');
                        }
                    }
                }
            }
            .step-num {
                line-height: f.f-line-height(50, 60);
                color: f.f-primary-color('200');
                font-size: f.f-rem(50);
            }
            .step-name {
                line-height: f.f-line-height(14, 19.5);
                color: f.f-primary-color('400');
                font-size: f.f-rem(14);
            }
            .step-description {
                line-height: f.f-line-height(14, 19.5);
                color: f.f-primary-color('300');
                font-size: f.f-rem(14);
            }
        }
        .steps-footer {
            a {
                line-height: f.f-line-height(16, 22);
                color: f.f-primary-color('default');
                font-size: f.f-rem(16);
                letter-spacing: 0.35px;
                i {
                    svg {
                        fill: currentColor;
                        width: f.f-rem(14);
                        height: f.f-rem(14);
                    }
                }
            }
        }
	}