@use 'variable';
@use 'color';

@each $color, $value in color.$theme-colors {
	.btn-#{$color} {
		color: var(--#{$color}-yiq);
		background-color: var(--#{$color});
		border-color: var(--#{$color});

		&:hover,
		&:focus,
		&.focus {
			color: var(--#{$color}-hover-yiq);
			background-color: var(--#{$color}-hover);
			border-color: var(--#{$color}-border-hover);
		}
		&:focus,
		&.focus {
			box-shadow: 0 0 0 0.2rem var(--#{$color}-mix);
		}

		// Disabled comes first so active can properly restyle
		&.disabled,
		&:disabled {
			color: var(--#{$color}-yiq);
			background-color: var(--#{$color});
			border-color: var(--#{$color});
		}

		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active,
		.show > &.dropdown-toggle {
			color: var(--#{$color}-active-yiq);
			background-color: var(--#{$color}-active);
			border-color: var(--#{$color}-border-active);

			&:focus {
				// @if $enable-shadows and $btn-active-box-shadow != none {
				// 	@include box-shadow($btn-active-box-shadow, 0 0 0 .2rem rgba(mix(color-yiq($background), $border, 15%), .5));
				// } @else {
				// 	// Avoid using mixin so we can pass custom focus shadow properly
				// 	box-shadow: 0 0 0 .2rem rgba(mix(color-yiq($background), $border, 15%), .5);
				// }
				box-shadow: 0 0 0 0.2rem var(--#{$color}-mix);
			}
		}
	}
	.btn-outline-#{$color} {
		color: var(--#{$color});
		border-color: var(--#{$color});

		&:hover,
		&:focus,
		&.focus {
			color: var(--#{$color}-yiq);
			background-color: var(--#{$color}-active);
			border-color: var(--#{$color}-border-active);
		}

		&:focus,
		&.focus {
			box-shadow: 0 0 0 0.2rem var(--#{$color}-rgba);
		}

		&.disabled,
		&:disabled {
			color: var(--#{$color});
			background-color: transparent;
		}

		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active,
		.show > &.dropdown-toggle {
			color: var(--#{$color}-active-yiq);
			background-color: var(--#{$color}-active);
			border-color: var(--#{$color}-border-active);

			&:focus {
				box-shadow: 0 0 0 0.2rem var(--#{$color}-rgba);

				// @if $enable-shadows and $btn-active-box-shadow != none {
				// 	@include box-shadow($btn-active-box-shadow, 0 0 0 0.2rem rgba($color, 0.5));
				// } @else {
				// 	// Avoid using mixin so we can pass custom focus shadow properly
				// 	box-shadow: 0 0 0 0.2rem var(--#{$color}-rgba);
				// }
			}
		}
	}
}
