@use "sass:math";
@use "import/mixin" as f;

.shifter-dashboard-login {
	background-image: url('../images/login/bg-login.svg');
	background-size: cover;
}

.login-column {
	width: 100%;
	max-width: 952px;
}

.login {
	box-shadow: 0 1px 8px rgba(69, 29, 57, 0.1);
	width: 90%;
	max-width: 360px;
	background-color: #fff;
	@media (min-width: 576px) {
		width: 360px;
	}
	&.success {
		height: 80vh;
		max-height: 560px;
	}
	.login-header {
		.login-icon {
		}
		.login-success-icon {
			width: 7rem;
			height: 7rem;
			background-color: #fdf5ff;
			i {
				svg {
					fill: #892885;
					width: f.f-rem(48);
					height: f.f-rem(48);
				}
			}
		}
		.login-title {
			line-height: f.f-line-height(22, 33);
			color: #7b2478;
			font-size: f.f-rem(22);
		}
		.login-switch-way {
			line-height: f.f-line-height(14, 19.5);
			font-size: f.f-rem(14);
			a {
				color: #892885;
			}
		}
		.send-email {
			line-height: f.f-line-height(16, 22);
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
			b {
				color: #892885;
			}
		}
		.enter-code {
			line-height: f.f-line-height(16, 22);
			color: #363032;
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
		.loading-text {
			line-height: f.f-line-height(16, 22);
			color: #892885;
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
		.logging-text {
			margin-top: 4rem;
			line-height: f.f-line-height(16, 22);
			color: #892885;
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
	}

	.forget-password {
		margin-top: 2rem;
		a {
			line-height: f.f-line-height(14, 19.5);
			color: #892885;
			font-size: f.f-rem(14);
		}
	}

	.back2login {
		a {
			line-height: f.f-line-height(16, 22);
			color: #892885;
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
	}

}



.login-information {
	@media (min-width: 576px) {
		max-width: 348px;
	}
	.login-information-icon {
		margin-bottom: 5.4375rem;
	}
	.login-information-title {
		line-height: f.f-line-height(30, 37.5);
		color: #521850;
		font-size: f.f-rem(30);
		letter-spacing: 1px;
	}
	.login-information-description {
		line-height: f.f-line-height(18, 27);
		font-size: f.f-rem(18);
	}
	.login-information-anchor {
		margin-top: 2.625rem;
		a {
			line-height: f.f-line-height(16, 22);
			color: #892885;
			font-size: f.f-rem(16);
			letter-spacing: 0.35px;
		}
	}
}
