@charset "utf-8";
@use "sass:math";
@use "import/mixin" as f;
@use '_variable.scss' as var;
@use 'color.scss' as colors;

.create-site {
	.create-site-header {
	}
	.create-site-steps {
		margin-bottom: 0.75rem;
		line-height: f.f-line-height(14, 19.5);
		color: var(--gray-400);
		font-size: f.f-rem(14);
	}
	.create-site-title {
		line-height: f.f-line-height(30, 37.5);
		color: var(--primary-700);
		font-size: f.f-rem(30);
		letter-spacing: 1px;
	}
	.create-site-description {
		margin-top: 1.25rem;
		line-height: f.f-line-height(16, 22);
		color: var(--gray-700);
		font-size: f.f-rem(16);
		letter-spacing: 0.35px;
	}

	.create-site-body {
	}

	&.step1 {
		margin-top: 5.3125rem;
		max-width: 748px;
		.form-row {
			&.input-form {
				margin-top: 3rem;
				.col-auto {
					&.first {
						max-width: 50%;
						.form-control {
							border-right: 0;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							text-overflow: ellipsis;
							background-color: #FFF;
						}
					}
					&.last {
						.form-control {
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}
					}
				}
				label {
					line-height: f.f-line-height(16, 22);
					color: var(--primary-800);
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
				}
			}
		}
	}

	&.step2 {
		margin-top: 3.25rem;
		padding-bottom: 9.75rem;
		max-width: 1084px;
		.btn {
			&.btn-bordered {
				&:hover,
				&:active {
					color: #fff;
					background-color: var(--primary-500);
				}
			}
		}
		.static-plan {
			.nav {
				&.nav-tabs {
				}
				.nav-item {
				}
				.nav-link {
					color: var(--primary-800);
					&.active {
						background-color: var(--primary-100);
					}
				}
			}

			.container-fuild {
				& > .row {
					margin-right: -12px;
					margin-left: -12px;
					& > * {
						padding-right: 12px;
						padding-left: 12px;
						& > .col-inner {
							border: 1px solid var(--gray-100);
						}
					}
				}
			}
			.plan-image {
			}
			.plan-name {
				line-height: f.f-line-height(22, 33);
				color: var(--primary-800);
				font-size: f.f-rem(22);
			}
			.plan-description {
				p {
					min-height: f.f-line-height(12, 15 * 4) + "rem";
					line-height: f.f-line-height(12, 15);
					font-size: f.f-rem(12);
					letter-spacing: 0.25px;
				}
			}
			.plan-price {
				line-height: f.f-line-height(50, 62.5);
				color: var(--primary-800);
				font-size: f.f-rem(50);
				.per-unit {
					line-height: f.f-line-height(12, 15);
					font-size: f.f-rem(12);
					letter-spacing: 0.25px;
				}
			}
			.plan-select {
			}
			.plan-features {
				ul {
					li {
						line-height: f.f-line-height(14, 17.5);
						font-size: f.f-rem(14);
					}
				}
			}
			.view-all-features {
				a {
					line-height: f.f-line-height(14, 36);
					color: var(--primary-500);
					font-size: f.f-rem(14);
					svg {
						fill: currentColor;
						width: f.f-rem(14);
						height: f.f-rem(14);
					}
				}
			}

			.static-plan-compare {
				.btn {
					&.btn-compare-toggle {
						color: var(--primary-500);
						background-color: #fff;
						i {
							svg {
								fill: currentColor;
								width: f.f-rem(14);
								height: f.f-rem(14);
							}
						}
						&.collapsed {
							svg {
								transform: rotate(180deg);
							}
						}
					}
				}
				.static-plan-compare-inner {
					border: 1px solid var(--gray-100);
				}
			}
		}

		.headless-plan {
			margin-top: 4.5rem;
			.headless-plan-header {
				.headless-plan-title {
					color: var(--primary-700);
					line-height: f.f-line-height(22, 33);
					font-size: f.f-rem(22);
				}
				.btn {
					&.btn-headless-toggle {
						border: 2px solid var(--primary-500);
						i {
							svg {
								width: f.f-rem(14);
								height: f.f-rem(14);
							}
						}
						&.collapsed {
							i {
								svg {
									transform: rotate(180deg);
								}
							}
						}
						&:hover,
						&:active {
							color: var(--primary-500);
							background-color: #fff;
						}
					}
				}
			}
		}

		.plan-table {
			thead {
				th {
					padding-top: 0.625rem;
					padding-bottom: 0.625rem;
					line-height: f.f-line-height(18, 27);
					color: var(--primary-700);
					font-size: f.f-rem(18);
					&.plan-table-name {
						line-height: f.f-line-height(22, 33);
						font-size: f.f-rem(22);
					}
					.plan-name {
						line-height: f.f-line-height(22, 33);
						font-size: f.f-rem(22);
						& + .btn-bordered {
							height: 3.375rem;
						}
					}
				}
			}
			tbody {
				th,
				td {
					padding-top: 0.625rem;
					padding-bottom: 0.625rem;
					border-top: 1px solid var(--gray-100);
					line-height: f.f-line-height(16, 22);
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
				}
				th {
					color: var(--primary-700);
				}
				td {
					color: var(--gray-600);
					svg {
						fill: var(--primary-500);
						width: f.f-rem(14);
						height: f.f-rem(14);
					}
				}
			}
		}
	}

	&.step3 {
		margin-top: 1.1875rem;
		padding-bottom: 15.5rem;
		width: 100%;
		max-width: 858px;

		.payment-form {
			margin-top: 0.75rem;
		}

		.payment-info {
			box-shadow: 0px 1px 8px rgba(69, 29, 57, 0.1);
			@media (min-width: 991px) {
				width: 55.55555556%;
			}
			.payment-info-title {
				line-height: f.f-line-height(16, 22);
				color: var(--primary-700);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
			}
			label {
				height: auto;
			}
			input,
			select {
			}
			input {
				max-width: 100%;
			}
			.form-control {
			}
			.exp-date {
				input {
					width: 5.75em;
				}
			}
			.cvc {
				input {
					width: 4.5em;
				}
			}
			.country {
				.select-wrapper {
					select {
						min-width: 0;
					}
					i {
						right: 1rem;
						color: var(--gray-300);
					}
				}
			}
			.postalcode {
				input {
					width: 9.8em;
				}
			}
			.row {
				input {
				}
				.col {
				}
			}
			.btn {
				&.btn-apply {
					border: 2px solid var(--gray-100);
				}
			}
		}

		.payment-summary {
			border: 1px solid var(--gray-100);
			@media (min-width: 768px) {
				width: 40.49382716%;
			}
			.payment-summary-title {
				line-height: f.f-line-height(16, 22);
				color: var(--primary-700);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
			}

			.site-name {
				line-height: f.f-line-height(16, 22);
				color: var(--primary-500);
				font-size: f.f-rem(16);
				letter-spacing: 0.35px;
			}
			.plan-name {
				line-height: f.f-line-height(22, 33);
				color: var(--primary-700);
				font-size: f.f-rem(22);
			}
			.subtotal {
				.plan-type {
					line-height: f.f-line-height(14, 19.5);
					color: var(--gray-600);
					font-size: f.f-rem(14);
				}
				.plan-price {
					line-height: f.f-line-height(16, 22);
					color: var(--primary-700);
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
				}
			}
			.total {
				border-top: 1px solid var(--gray-100);
				.total-name {
					line-height: f.f-line-height(14, 19.5);
					color: var(--gray-600);
					font-size: f.f-rem(14);
				}
				.total-price {
					line-height: f.f-line-height(30, 37.5);
					color: var(--primary-500);
					font-size: f.f-rem(30);
					letter-spacing: 1px;
				}
			}
		}

		&.step3-2 {
			max-width: 984px;
			.payment-form {
				margin-top: 1.8125rem;
			}

			.checkout-info {
				@media (min-width: 768px) {
					width: 51.81623932%;
				}
				.card-info {
					border: 1px solid var(--gray-100);
					line-height: f.f-line-height(16, 22);
					color: var(--gray-700);
					font-size: f.f-rem(16);
					letter-spacing: 0.35px;
					.card-icon {
					}
					.card-number {
					}
					.card-data {
						.card-expire {
						}
						.update-card {
							a {
								line-height: f.f-line-height(14, 19.5);
								color: var(--primary-500);
								font-size: f.f-rem(14);
							}
						}
					}
				}

				.add-coupon {
					.coupon-code-input {
						label {
							line-height: f.f-line-height(16, 22);
							color: var(--gray-800);
							font-size: f.f-rem(16);
							letter-spacing: 0.35px;
						}
					}
					.coupon-code-apply {
						.btn {
							&.btn-apply {
								border: 2px solid var(--gray-100);
							}
						}
					}
				}

				.coupon-info {
					margin-top: 3rem;
					.coupon-info-title {
						line-height: f.f-line-height(16, 22);
						color: var(--primary-800);
						font-size: f.f-rem(16);
						letter-spacing: 0.35px;
					}

					.coupon-detail {
						.name {
							padding: 0.75rem;
							line-height: f.f-line-height(12, 15);
							color: var(--gray-700);
							font-size: f.f-rem(12);
							letter-spacing: 0.3px;
						}
						.data {
							padding: 0.75rem;
							line-height: f.f-line-height(16, 22);
							color: var(--gray-800);
							font-size: f.f-rem(16);
							letter-spacing: 0.35px;
						}

						.code {
							width: 38.1443299%;
							.data {
								border: 1px solid var(--gray-100);
								border-right: 0;
								border-top-left-radius: 0.25rem;
								border-bottom-left-radius: 0.25rem;
							}
						}
						.discount {
							width: 38.1443299%;
							.data {
								border-top: 1px solid var(--gray-100);
								border-bottom: 1px solid var(--gray-100);
							}
						}
						.expiration {
							.data {
								border: 1px solid var(--gray-100);
								border-left: 0;
								border-top-right-radius: 0.25rem;
								border-bottom-right-radius: 0.25rem;
							}
						}
					}

					.coupon-edit {
						a {
							line-height: f.f-line-height(16, 22);
							color: var(--primary-500);
							font-size: f.f-rem(16);
							letter-spacing: 0.35px;
						}
					}
				}
			}

			.payment-summary {
				@media (min-width: 768px) {
					width: 35.04273504%;
				}
			}
		}
	}

	&.step4 {
		.create-site-created {
			max-width: 348px;
			.create-site-created-icon {
			}
			.create-site-created-title {
				line-height: f.f-line-height(38, 47.5);
				color: var(--primary-500);
				font-size: f.f-rem(38);
				letter-spacing: 1px;
			}
			.create-site-created-state {
				line-height: f.f-line-height(18, 27);
				color: var(--primary-500);
				font-size: f.f-rem(18);
			}
			.create-site-created-buttons {
			}
		}
	}
}
