
$purple-50: #f9f4f9 !default;
$purple-100: #F3EAF3 !default;
$purple-200: #E2C9E1 !default;
$purple-300: #D0A9CE !default;
$purple-400: #AC69AA !default;
$purple-500: #892885 !default;
$purple-600: #7B2478 !default;
$purple-700: #671E64 !default;
$purple-800: #521850 !default;
$purple-900: #431441 !default;

$gray-50: #F6F5F6 !default;
$gray-100: #EDECEC !default;
$gray-200: #D1CFD0 !default;
$gray-300: #B6B3B4 !default;
$gray-400: #7F797B !default;
$gray-500: #756B6E !default;
$gray-600: #413A3C !default;
$gray-700: #363032 !default;
$gray-800: #2B2628 !default;
$gray-900: #231F21 !default;

$green-dark: #055C2D !default;
$green-primary: #23BA7B !default;
$green-light: #D9FFE3 !default;

$red-dark: #750505 !default;
$red-primary: #CE1616 !default;
$red-light: #FFE9E9 !default;

$yellow-dark: #BE6B09 !default;
$yellow-primary: #FFA600 !default;
$yellow-light: #FEF4D9 !default;

$accent: #F80A5B !default;